body {
border-bottom: none;
padding-bottom: 37em;
}

#section-left {
  width:35%;
  float:left;
  height:56em;;
  color:white;
}

left.h1 {
  color: white;
  padding-bottom: 4em;
}

#section-left {
  padding-bottom: 8em;
}

h1 {
  color: white;
}

.poem {
  display: inline-block;
  position: relative;
  margin-top: -1em;
  font-size: .9em;
}

.button {
  margin-top: 2em;
  color: rgb(10, 103, 44);
  margin-left: 0em;
  border: 5px outset rgb(98, 69, 19);
}

#left {
  display: inline-block;
  position: absolute;
  top: 65.5em;
  left: .2em;
  background-color: rgba(39, 44, 52, 0.95);
  font-size: 1em;
  padding-bottom: 3.2em;
  width:38%;
  float:left;
  color:white;
  padding-right: 2em;
}

#left .into {
  padding-left: 2em;
}
.contents {
  font-size: 1em;
  margin-top: 15em;
}

#contacts {
  margin-top:27em;
}

#section-right {
  padding-left: 19.5em;
  font-size: 1.15em;
}

h2, h3, {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

#two {
 list-style: none;
 position: absolute;
 left: 64%;
 top: 80%;
 font-size: 2em;
 line-height: .75em;
}
