html{
  background-color:#444;
  padding: 0em;
  font-size: 1.5em;
  

}

body{
  background-color:#b5dfd9;
  font-family:´lato´, sanc-serif;
  margin: 1em auto;
  max-width: 50em;
  height:50.625em;
  border-top: 1em solid #b5dfd9;
  border-bottom: 1em solid #b5dfd9;
  line-height: 1.5;
}

div.title{
  border-radius: 2em solid green;
}
ul{
  padding: 20px

  font-size: 1em;
  color:redrgb(123, 135, 139);
}

#section-left{
  font-size: 1em;
  border-:2em solid white;
  border-radius: 5px;
  padding-left:2em;
  width:35%;
  float:left;
  height:100%;
  background-color:#ecb7b3;
  color:#fff;
  border-right: 2em solid #b5dfd9;
  border-left: 2em solid rgb(13, 109, 140);
  padding-right: 2em;
  margin-bottom: -4em;
  border-top: 1em solid #ecb7b3;
  line-height: 1.5;
}
#section-left .title ul{
  margin-left: -15px;
}
img.round{
  image-resolution: from-image;
  width: 60%;
  height: 50%;
  border-radius: 5%;
  margin-left: 10%;
}
.intro hr {
  width: 4em;
  display: block;
  height: 2px;
  border: 0px;
  border-top: 2px solid;
}
.dob{
  text-decoration: overline underline;
}
.intro.content{
  margin-bottom:20px;
}
#contact {
  margin-top:40px;
}
h1{
  text-transform: uppercase;
  text-decoration: underline;

}
h2{
  border: 2em 1em ;
  border-radius: 2em solid red;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  color:rgb(181, 87, 22);
}
h3{
  border: 2em 1em ;
  border-radius: 2em solid red;
  align-content: center;
  font-style:italic;
  text-decoration: underline;
  color: rgb(64, 25, 19);
  border-bottom: .2em solid redrgb(113, 126, 129);

}
