 body {
   margin-bottom: 10em;
   background-color: rgb(154, 188, 227);
 }

.pictuer {
  display: none;
}

 .first-row {
   margin-top: 0em;
   max-width: 390px;
   background-color: rgb(154, 188, 227);
   border: 10px inset rgb(87, 154, 231);
 }

 .second-row {
  position: absolute;
  top: .5em;
  margin-left: 410px;
  width: 400px;
  background-color: rgb(154, 188, 227);
  border: 10px inset lightblue;
  border-right: 10px outset lightblue;
  padding-bottom: 1em;
}

.third-row {
  position: absolute;
  left: 0px;
  font-size: 1.49em;
  border: 10px outset lightblue;s
  background-color: rgb(191, 235, 187);
  width: 830px;
}
