body {
    background-image: url("back.jpg");
    background-size: cover;
}
h1 {
    padding-left: 2em;
    color: white;
    align-content: center;
    font-size: 4em;
}

button {
    position: absolute;
    left: 40%;
    border: 0;
    line-height: 1.5;
    padding-right: 2em;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 20, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}


rb {
    position: absolute;
    top: 0em;
    left: 50%;
    right: 0em;
    bottom: 0em;
    background-color: #dddddd;
    height: 100%;
    width: 50%;
    opacity: 0.2;
    background-size: cover;
}
#add:hover {
    background-color: rgba(255, 0, 0, 1);
}

#add:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#add:disabled {
    background-color: white;
}
 li {
     background: white;
     border: 2px outset white;
     margin-left: -2em;
     color: black;
     width: 55%;
     display: grid;
     grid-template-columns: 30% 20%;
}

p{
    padding-left: 2px;
    display: inline-block;
}

 label {
     padding-right: 1em;
     font-size: 2em;
     color: white;
 }

 #myUL{


 }

 #item {
     width: 10.5em;
     height: 2em;
     border: 2px inset black;
     border-radius: 10px;
     font-size: 1.5em;
 }

 #clearButton {
     background-color: green;
     position: absolute;
     border: 2px solid red;
     width:5.8em;
     top: 14em;
     left: 40em;
 }

#clearButton:hover{
    background-color: chocolate;
}

#clearButton:disabled {
    background: red;
}

#add{
    position: absolute;
    left: 40em;
    border: 2px solid red;
    top: 10em;
    background-color: green;
}
#add:hover{
    background-color: chocolate;
}

#add:disabled {
    background: red;
}

#times {
    position: absolute;
    top: 6.7em;
    border: 2px inset black;
    border-radius: 10px;
    left: 22em;
    width: 3.5em;
    height: 2em;
    font-size: 1.5em;

}
